
section.new-content-center-main

  div.close-new-content
    div.new-contentclose-btn
      i.content-close-btn.far.fa-times-circle.fa-lg
  
  div.new-content-form
      h3 add members
      p workspaces can be lonely by yourself. Why not add some members to your space. 
      .form-group-stack
        div#create-member-token.btn-design(onclick='generateToken()')
          p generate token ...
          
  div#new-members-tokens.new-content-form
      h3 current tokens to be used
      p Generated tokens can be claimed by new members wanting to join your workspace. 
      div#member-tokens-assigned      
  
