
section.new-content-center-main

  div.close-new-content
    div.new-contentclose-btn
      i.content-close-btn.far.fa-times-circle.fa-lg
  
  div.new-content-form
      h3 add members
      p workspaces can be lonely by yourself. Why not add some members to your space. 
      .form-group-stack
        h2 produce a token.
        input.stack-new-field.form-control(name='stackname', placeholder='', required='true')
        input#create-member-token.stack-new-field.form-control(name='stackname', )
  div#member-tokens-assigned      
  
