@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

* { -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, a, li, p, input, label, textarea {
  font-family: 'Montserrat', sans-serif; font-weight: 600; letter-spacing: 0.01em; font-size: 0.86em;
}

/*  border: 1px solid #efefef; */

/* -- html content -- */

html, body { padding: 0; margin: 0;  width: 100%;  color: black;   }

html    {  height: 100%;  }
body    {  min-height: 100%; height: 100%; }

a       { text-decoration: none; color: black; }
a:hover { text-decoration: none; }


/* --- main app widths --- */

div#app-wrap > header, div#app-content, div#app-load, footer { width: 82%; margin: 0 auto; }

section#app-content-main { width: 75%; height: 100%; float: left; padding-right: 25px; position: relative; }

aside#app-content-side   { width: 25%; height: 100%; float: right;  padding-top: 15px;}

div#aside-inner          { width: 100%; height: 100%; padding-left: 20px;  border-left: 1px solid #f1eded; }


/* --- load animation --- */

div#app-load {
  z-index: 9999; height: 100%; margin: 0 auto;  background: white; position: absolute; left: 0;
  right: 0; display: flex; justify-content: center;
}

section#load-center { width: 380px; margin-top: 20px; }

section#load-center > div > div {
  margin-top: 30px; font-weight: 400;
  -webkit-box-shadow: 3px 0px 20px 4px rgb(241, 240, 240);
  -moz-box-shadow: 3px 0px 20px 4px rgb(241, 240, 240);
  box-shadow: 3px 0px 20px 4px rgb(241, 240, 240);
  padding: 25px;  border-radius: 5px; font-size: 0.75em;
  color: #d6d1d1;
  width: 100%; overflow: hidden;
}

section#load-center > div > div.load-in-view { color: black; }

div.load-left  { width: 22%; height: 40px; float: left;   }
div.load-right { width: 78%; height: 40px; float: right;  }
div.load-right > h2 { font-size: 0.95em; font-weight: 400; padding-top: 13px; }


.checkmark {
  width: 35px; height: 35px; border-radius: 50%; display: inline-block;
  stroke-width: 2; stroke: #fff; stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4d99f8; animation: fill 0.4s ease-in-out 0.4s
  forwards, scale 0.3s ease-in-out 0.9s both;
}

.checkmark__circle {
  stroke-dasharray: 166; stroke-dashoffset: 166; stroke-width: 2;
  stroke-miterlimit: 10; stroke: #4d99f8; fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark__check {
  transform-origin: 50% 50%; stroke-dasharray: 48; stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% { stroke-dashoffset: 0; }
}
@keyframes scale {
  0%, 100% { transform: none; }
  50%      { transform: scale3d(1.1, 1.1, 1);  }
}
@keyframes fill {
  100% {  box-shadow: inset 0px 0px 0px 30px #4d99f8; }
}


/* --- aside content --- */

div#aside-inner > div { margin-bottom: 10px;  border: 1px solid #efefef;  padding-bottom: 35px; }

div#aside-inner > div#aside-reminders { width: 100%; background: #ffffc4; padding-bottom: 35px; }

div#aside-inner > div > h1       { font-size: 0.72em; padding: 10px;    font-weight: 400; padding-top: 20px; }
div#aside-inner > div  > ul > li { font-size: 0.65em; font-weight: 400; margin: 18px 10px; }

div#aside-inner > div  > ul > li > .channel-loc {
    padding: 5px 10px; margin: 5px; background: #ffcece; border-radius: 3px;
  }


/* --- main app  --- */

body#app-body { background: white; }

div#app-wrap  { width: 100%; height: 100%;  }

footer        { min-height: 120px; margin-top: 20px; border-top: 1px solid #efefef; }



/* --- auth header / title  --- */

div#app-wrap > header     { height: 70px; margin: 0 auto; background: white; border-bottom: 1px solid #ECECEB; }

/* === left === */
section#app-header        {  height: 100%; float: left; }
/* == middle == */
section#app-space-title   {  height: 100%; overflow: hidden; display: flex; justify-content: center; align-items: center; }
/*==  right === */
section#user-auth-section { height: 100%; float: right; }


/* --- app title --- */

section#app-header > ul#app-title { display: flex;  justify-content: center; align-items: center; height: 100%; }

section#app-header > ul > li      { align-items: center; font-size: 1.4em; cursor: pointer; margin-bottom: 5px; }

#app-header > ul > li > img#title-img {
  width: 25px; height: 25px;  margin-right: 5px; position: relative;  top: 2px;
}

/* --- auth user  --- */

section#user-auth-section > ul      { display: flex; align-items: center; height: 100%; }

section#user-auth-section > ul > li { margin-left: 15px;  cursor: pointer; padding: 3px; letter-spacing: 0.04em; font-size: 1em;  }

ul > li#icon-2 > i                  { margin-right: 16px; }

#user-auth-section > ul > li#auth-username  { font-size: 0.82em;   }

li#auth-username > svg.auth-dropdown-icon   { position: relative; top: 2px; }

div#profile-img  { width: 54px; height: 48px; margin-left: 5px; background: #6ab3f3; border-radius: 4px; }



section#user-auth-section > ul > #upgrade-acc {
    font-size: 0.77em; background: #4d99f9; padding: 11px 26px;
    border-radius: 5px; color: white;  font-weight: 400; position: relative;
    bottom: 2px; box-shadow: 3px 3px 20px 2px rgba(185, 185, 185, 0.49);
}



/* ---  app content --- */

div#app-wrap > div#app-content { height: 100%; display: block;  }



/* */
