

.stack-grid         { width: 100%; height: auto;  }

div.stack-name-flex {  flex: 1; display: flex;  align-items: center;
                       justify-content: center; width: 100%;
                    }

div#stack-left-grid-name        { display: flex; padding-top: 15px; padding-bottom: 10px; border-bottom: 1px solid #e4e4e4;  }

div#grid-name-title >  h3       { width: 100%; text-align: left; font-size: 1.3em; padding-bottom: 5px; }

div#grid-name-image-upload      { width: 100%; justify-content: flex-end; }



/* --- stack upload --- */

#stack-new-image-selection      { width: 100%; height: auto; background-color: #f9f9f9;  border: 1px dashed #dfdfdf;
                                 position: relative; margin-top: 10px;
                                }

div#image-upload-visual        { width: 100%; height: 100%; position: relative; }
div#image-upload-visual > img  { width: 47%;  display: block; margin: 0 auto; margin-top: 5px; }
div#image-upload-visual > p    { font-weight: 400; margin: 20px; text-align: center; font-size: 0.78em; }

input#images-upload-select     { width: 100%; height: 100%; position: absolute; top: 0; left: 0; cursor: pointer; }

input.file-hidden              { opacity: 0 }

ul#image-names                 { width: 100%; height: auto; margin-bottom: 20px; padding: 5px; }

ul#image-names > li.image-preview-item  { display: inline-block; font-weight: 400; padding: 8px 20px; background: #ffff70; margin: 5px 10px; }

input#image-upload-btn        { margin-top: 30px; }


div#stack-left-grid-content   { width: 100%; height: 90%; padding: 25px 0; }

div#stack-left-grid-content > img  { width:350px; height: auto; display: inline-block; vertical-align: top;
                                     border-radius: 10px; border: 1px solid #e3dbdb; margin: 10px;
                                   }
