

/* --- workspace ? user new to slackr --- */

div#main-app-guide            { width: 50%;  height: 100%; margin: 0 auto; margin-top: 30px; padding: 5px; }
section#guide-center-content  { width: 100%; min-width: 300px;  }

section#guide-box-choices > a { margin: 10px 0; }

a#guide-choice-no { padding-top: 10px; text-decoration: underline; outline: none; color: #665d5d; display: inline-block; font-weight: 400; }

/* --- workspace ? video guide tour --- */

div#main-app-guide.video-guide { width: 90%; margin: 0 auto; }

section#guide-center-content.video-guide-content { width: 60%; margin: 0 auto; }

section#guide-box-video        { width: 100%; position: relative; }

section#guide-box-video > div  { display: inline-block; height: 100%; overflow: hidden;  }

 div#box-video-middle { width: 70%; }

 div#box-video-middle > img { width: 100%; height: auto }

 div#box-video-right  { width: 30%; position: absolute; top: 30px; right: 25px; }

   div#video-sections { background: #ffff77; z-index: 9999; padding: 12px 18px; }

    div#video-sections > h3      { padding: 9px 0; border-bottom: 1px solid #e5e362; }

    div#video-sections > ul      { margin-top: 10px; }

    div#video-sections > ul > li { padding: 3px; margin: 3px 0; font-size: 0.78em; }

    div#video-sections > div > p { font-weight: 400; font-size: 0.7em; margin: 10px 0; line-height: 1.8; }

    div#video-sections > div > a { position: relative; top: 10px; left: 20px; background: white; padding: 10px 20px; }


/* --- single workspace ---- */

div#workspace-single { width: 100%; height: 100%;  }

section.header-place-3#app-space-title > li > svg {
  position: relative; top: 1px; font-size: 1.3em; width: 25px; cursor: pointer;
}
section.header-place-3#app-space-title > li { position: absolute; cursor: pointer; }

section.header-place-3#app-space-title > .dropdown > ul.dropdown-open {
    top: 45px;
    box-shadow: 1px 1px 9px 0px rgb(212, 212, 212);
}

.workspace-grid-box { width: 100%; height: auto; }


 /* workspace name */

 div#workspaces-left-grid-name       { padding-top: 20px; }
 div#workspaces-left-grid-name > h2  { font-size: 1.5em; display: inline-block; }


 div#workspaces-left-grid-name > h3  {
    font-size: 0.77em;
    display: inline-block;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    padding: 13px 26px;
  }


/* workspace stacks  */

div#workspaces-left-grid-stacks {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }

div#workspaces-left-grid-stacks > div.stack  {
   flex: 1 0 21%; height: 180px;  margin: 15px 20px; margin-left: 0;
   padding: 20px; border-radius: 7px;
}

.color-1 { background: #dff0fe; }
.color-2 { background: #f4e9f6; }
.color-3 { background: #d2ffee; }
.color-4 { background: #ffe1e1; }
.color-5 { background: #ffe7f4; }
.color-6 { background: #ddedfb; }
.color-7 { background: #b6ffef; }
.color-8 { background: #e0c8ff; }

div.stack >  div.stack-position  { width: 100%; height: 100%; position: relative;   justify-content: center;
  align-items: center; display: flex; }

a.stack-inner-center { display: block; }

div.stack-position > a.stack-inner-center      { text-align: center; }

div.stack-position > a.stack-inner-center > h2 { font-size: 3.8em; }
div.stack-position > a.stack-inner-center > h3 { font-size: 1em; }


/* workspace progress */

div#workspaces-left-grid-progress       { border-top: 1px solid #E0E0E1; margin-bottom: 60px;  }

div#workspaces-left-grid-progress > h2  { font-size: 1.5em; display: inline-block; padding: 15px 0; }





/* -- */
