
/*  === dropdown ===  */

.menu-target-ul { position: relative; }

li.break-menu { height: 2px; background: #e2e2e2; margin: 10px 8px; }

.menu-target  {
  display: none; min-width: 240px; padding: 12px; z-index: 9999; background: white; right: 0;
  border-radius: 7px;
}

li.menu-li   {
  display: block; text-align: left;  font-weight: normal;  margin: 15px 0;
  font-size: 0.8em; cursor: pointer;
  padding: 10px 8px;
  border-radius: 3px;
}

li.menu-li:hover { background: #eaeaea; }

li.menu-li > a { color: black; font-weight: normal; font-size: 1em; display: block; }

li.menu-li:last-child { margin-bottom: 20px; }



.dropdown-open {
  display: block; position: absolute; top: 80px; border: 1px solid #e8e8e8;
  -webkit-box-shadow: 0px 3px 22px 0px rgba(242,242,242,1);
  -moz-box-shadow: 0px 3px 22px 0px rgba(242,242,242,1);
  box-shadow: 0px 1px 17px 7px rgba(242,242,242,1);
  z-index: 9999; cursor: context-menu;
 }

.dropdown > svg {
  pointer-events: none;
}

.dropdown-menu-highlight { background: #eaeaea;  }


/* --- close new stack btn --- */

div.close-new-content    { display: inline-block; position: absolute; top: 0; right: 20px; }

div.new-contentclose-btn { padding: 5px; font-size: 1.5em; cursor: pointer; margin-top: 3px; }


/* -- aside / stack / workspace popup -- */

div.newcontent-new-popup { display: none; }

div.newcontent-new-popup.newcontent-show {
   display: block; background: white;  z-index: 9999; height: 100%;
   margin: 0 auto; position: absolute; top: 0; left: 0;
   right: 0; display: flex; justify-content: center;
}

section.new-content-center-main  { margin-top: 30px; width: 100%; height: auto; position: relative }

.new-content-form       { width: 60%; margin: 0 auto;  }

.new-content-form  > h3 { font-size: 2.1em; letter-spacing: -0.035em; }
.new-content-form  > p  { width: 80%; margin-top: 10px; font-weight: 400; font-size: 0.8em; line-height: 1.7em; word-spacing: 0.03em; }

.form-group-stack       { margin-top: 20px; width: 100%; border-bottom: 1px solid #e6e6e6; }
.form-group-stack > h2  { margin-bottom: 10px; font-weight: 400; }

.stack-new-field { width: 70%; outline: none; border: none; font-size: 0.78em; padding: 15px 10px;
                   margin-bottom: 30px; display: block; background: #fff5ae; font-weight: 400;
                 }

#new-content-submit {
    outline: none; background: none; display: inline-block; padding: 8px; font-size: 0.9em;
    color: #4d99f9;  letter-spacing: 0.03em; border: 1px solid #4d99f9;  border-radius: 3px;
    cursor: pointer; font-weight: 400; margin-top: 30px;
  }
