
/*  === dropdown ===  */

.menu-target-ul { position: relative; }

li.break-menu { height: 1px; background: #e2e2e2; margin: 10px 0px; }

.menu-target  {
  display: none; min-width: 240px; padding: 12px 25px; z-index: 9999; background: white; right: 0;
  border-radius: 7px;
}

li.menu-li   {
  display: block; text-align: left;  font-weight: normal;  margin: 5px 0;
  font-size: 0.8em; cursor: pointer; padding: 10px 0px;    border-radius: 3px;
}

li.menu-li:hover { background: #eaeaea; }

li.menu-li > a   { color: black; font-weight: normal; font-size: 1em; display: block; }

li.menu-li:last-child { margin-bottom: 20px; }


.dropdown-open {
    display: block; position: absolute; top: 80px; border: 1px solid #e8e8e8;
    box-shadow: 5px 1px 18px 0px rgb(176, 176, 176);
    z-index: 9999; cursor: context-menu;
 }

.dropdown > svg {
  pointer-events: none;
}

.dropdown-menu-highlight { background: #eaeaea;  }


/* --- close new stack btn --- */

div.close-new-content    { display: inline-block; position: absolute; top: 0; right: 20px; }

div.new-contentclose-btn { padding: 5px; font-size: 1.5em; cursor: pointer; margin-top: 3px; }


/* -- aside / stack / workspace popup -- */

div.newcontent-new-popup { display: none; }

div.newcontent-new-popup.newcontent-show {
   display: block; background: white;  z-index: 9999; height: 100%; min-height: 100%; margin: 0 auto;
   position: absolute; top: 0; left: 0; right: 0; display: flex; justify-content: center;
}

section.new-content-center-main  { margin-top: 30px; width: 100%; height: auto; position: relative }

.new-content-form       { width: 60%; margin: 0 auto;  }

.new-content-form  > h3 { font-size: 2.1em; letter-spacing: -0.035em; }
.new-content-form  > p  { width: 80%; margin-top: 10px; font-weight: 400; font-size: 0.8em; line-height: 1.7em; word-spacing: 0.03em; }

.form-group-stack       { margin-top: 20px; width: 100%; border-bottom: 1px solid #e6e6e6; }
.form-group-stack > h2  { margin-bottom: 10px; font-weight: 400; }

.stack-new-field { width: 70%; outline: none; border: none; font-size: 0.78em; padding: 15px 10px;
                   margin-bottom: 30px; display: block; background: #fff5ae; font-weight: 400;
                 }

#new-content-submit {
    outline: none; background: none; display: inline-block; padding: 8px; font-size: 0.9em;
    color: #4d99f9;  letter-spacing: 0.03em; border: 1px solid #4d99f9;  border-radius: 3px;
    cursor: pointer; font-weight: 400; margin-top: 30px;
  }

/* special page left / right design */


/* --- special --- */

.special-contain-extra { width: 100%; background: #f7f7ff; padding: 10px 0px; height: 100%; margin-top: 15px; }

.special-contain {  width: 100%; background: #f7f7ff; position: relative; overflow: hidden; padding: 35px 20px;
                    margin: 15px 0; padding-right: 15px; height: 100%;
                  }

.special-contain > section      { border-radius: 8px; padding: 10px 20px; box-shadow: 2px 1px 8px 4px #e7ebff; }

.special-contain > section > h2 { padding-top: 5px; }


/* --- left area --- */

.special-contain > section.left-content-full {
     width: 100%; background: white; display: inline-block;
}

section.special-left-content {
                                width: 63%; background: white; display: inline-block; float: left;
                                padding-right: 45px;
                             }

.special-contain section.special-left-content > ul > li { font-size: 0.6em; font-weight: 400; }


/* --- right area --- */

section.right-content-spaced   { width: 35%; position: absolute; right: 37px; top: 10px;
                                 background: white;
                               }
section.right-content-spaces > ul > li span { font-size: 0.84em; }

.special-contain section > ul      { margin-top: 15px; }

.special-contain section > ul > li { font-size: 0.6em; margin: 12px 0px; padding: 2px 0; line-height: 2.1em; }

span.space-action { background: #d2e6ff; padding: 5px 7px; margin-right: 6px;
                    border-radius: 4px; font-weight: 600;
                  }
