
extends ../layout

block content

    section#auth-flex-middle.signup
      section#app-signup-center
        h2 Signup to slackr 
        form#auth-signup-form(method="POST", action="/user/auth/register")

          .form-group
            label Username
            input#auth-username.form-control(name='username', placeholder='eg: devcoffee', required='true')
            div.error

          .form-group
            label email address
            input#auth-email.form-control(name='email', placeholder='eg: devcoffee@gmail.com', required='true')
            div.error

          .form-group
            label Password
            input#auth-pass.form-control(name='password', type='password', placeholder='eg: 12345', required='true')
            div.error

          input#auth-signup-enter.btn.btn-primary(type="submit", value="sign me up")
