
extends ../layout

block content
    
    section#auth-flex-middle.signup
      section#app-signup-center
        h2 Welcome
        p signup up for an account following a 3-step process.
        form.auth-signup-form(method="POST", action="/user/auth/register")

          .form-group.form-input-container
            div.form-icon-contain
              i.far.fa-user
            input#auth-username.form-control(class= usernameError ? 'error-msg-input' : '', name='username', placeholder='Username', required='true')
            div.error#error-username
              if usernameError
                p.error-msg-text username has been taken
                
          .form-group.form-input-container
            div.form-icon-contain
              i.far.fa-envelope
            input#auth-email.form-control(class= emailError ? 'error-msg-input' : '', name='email', placeholder='E-mail address', required='true')
            div.error#error-email
              if emailError
                p.error-msg-text please enter a valid email.

          .form-group.form-input-container
            div.form-icon-contain
              i.far.fa-eye
            input#auth-pass.form-control(class= passError ? 'error-msg-input' : '', name='password', type='password', placeholder='Password', required='true')
            div.error#error-pass
              if passError
                p.error-msg-text please enter a password that more than 4 characters long. 

          div#auth-pagination
            a.previous.round#btn-disabled(href=prev) 
              i.fas.fa-angle-left
              
            h2.auth-register-step step 1  
            input.auth-signup-enter(type="submit", value="next step")
