extends ../layout

block content

    section#auth-flex-middle.signup
      section#app-signup-center 
      
        h2 workspace role        
        
        section#previous-auth-option
          input.auth-signup-input-showcase(type='text', name='chosen-username', value=input, disabled)
          div#auth-option-change
            i.fas.fa-pencil-alt
        p you're nearly set. You can lead a team or be assigned to a space as member. 
        br
        h3 what's your role within workspaces ?  
        
        section#auth-signup-options
           
          form.auth-signup-form(method="POST", action="/user/auth/register/type")

            select(id='register-type', name='membertype' required)
              option(selected disabled hidden value='') select your membership type
              option(name="roleType", value=0) member of a team
              option(name="roleType", value=1) leading a team

            div#auth-pagination
              a.previous.round#btn-disabled(href=prev) 
                i.fas.fa-angle-left
                
              h2.auth-register-step  step 2 / 3  
              
              input.auth-signup-enter(type="submit", value="next step")
