extends ../layout

block content

    section#auth-flex-middle.signup
      section#app-signup-center
        
        h2 almost there
        
        section#previous-auth-option
          input.auth-signup-input-showcase(type='text', name='chosen-username', value=input, disabled)
        
        if role == "member"
          
          form.auth-signup-form.single-auth-signup-form(method="POST", action="/user/auth/register/member")
          
            h3 what's your role as a member
            p if you know the type of space you're joining, then assigning a role should be easy. An example for a dev space might be 'server-side dev'.
            
            .form-group
              input#auth-token.form-control( name='role_type', placeholder='eg: server-dev', required='true')
              
            h3 awesome, now join an existing team space
            p to be assigned to a team, you need to paste the workspace code sent to your email address. 
            .form-group
              input#auth-token.form-control(class= memberErr ? 'error-msg-input' : '', name='token', placeholder='eg:  zza13@48596£k@dkvv', required='true')
            div.error
              if memberErr
                p.error-msg-text token is invalid or has been claimed
              
            div#auth-pagination
              a.previous.round(href=prev) 
                i.fas.fa-angle-left
              h2.auth-register-step  step 3  
              input.auth-signup-enter.btn.btn-primary(type="submit", value="join workspace")
        
        else
        
          p to start creating workspaces you first need to choose your plan
          
            .columns
              ul.price
              
                li.header Basic
                li free
                li 3 workspaces
                li 5 team members 
                li.checkbox
                  form.auth-signup-form.membership-plan(method="POST", action="/user/auth/register/leader")
                    input.auth-signup-enter.btn.btn-primary(type="submit", value="get started")  

            .columns
              ul.price
                li.header enterprise
                li $ 24.99 / year
                li unlimited workspaces 
                li 25 team members
                li.checkbox
                  form.auth-signup-form.membership-plan(method="POST", action="/user/auth/register/leader")
                    input.auth-signup-enter.btn.btn-primary(type="submit", value="go enterprise")  
                    
            div#auth-pagination
              a.previous.round(href=prev) 
                i.fas.fa-angle-left
                
              h2.auth-register-step  step 3  
              a.previous.round#btn-disabled(href='#') 
                i.fas.fa-angle-right

              

   
