
extends layout

block content
  div#app
    section.app-fit-layout#app-home-section-welcome
      h1 design with Slackr 
      p just 3 simple steps to get yourself set and designing <br>  your next app idea.
      
      section.app-fit-layout#app-section-welcome-input
          a(href='/get-started').btn-blue get started
