
extends layout

block content
  div#app
    section.app-fit-layout#app-home-section-welcome
      h1 design with Slackr 
      p just 3 simple steps to get yourself set and designing <br>  your next app idea.
      
      section.app-fit-layout#app-section-welcome-input
          a(href='/get-started').btn-blue get started

    section.app.fit-layout#app-home-section-banner 
      div#app-banner-gradient
      div#app-banner-g-content
        h2 why Slackr ?
        p see why 1000's of teams use our app. 
        section.app-fit-layout#app-banner-c-input
            a(href='/').btn-blue explore
        
