div#aside-inner
      
  div#aside-grid-manage-layout
    li workspace app
    li#toggle-content-aside(data-view=true)
      i.fas.fa-bars 

  div#aside-team 

    section.aside-titlearea
      h1 members
      div.aside-section-newbtn-push#aside-add-member-btn(data-content-new='aside-member-new')
        i.fas.fa-plus.aside-section-newbtn
    ul
      li
        span.member-icon.member-islogged
        p zach greski
        span.channel-loc app designer
      li 
        span.member-icon.member-islogged
        p joe graham
        span.channel-loc front-end dev
      li 
        span.member-icon
        p kate haskey
        span.channel-loc server-dev
  div#aside-channels
    section.aside-titlearea
      h1 channels
      div.aside-section-newbtn-push
        i.fas.fa-plus.aside-section-newbtn
    ul
      li
        a(href='/0/workspace/channel/id') # trouble with database 
        span.channel-loc question
      li
        a(href='/0/workspace/channel/id') # lunch ideas
        span.channel-loc random
      li
        a(href='/0/workspace/channel/id') # design thoughts
        span.channel-loc stack
          
        
        
  div#aside-reminders
    section.aside-titlearea
      h1 reminders          
    ul
      li send mark my newest git commit
      li continue my collab app workspace
      li add kara to the team workspace
      
