div#aside-inner
      
  div#aside-grid-manage-layout
    li 
    li#toggle-content-aside(data-view='true')
      i.fas.fa-chevron-right 
      
  //- div#aside-user-quick-notify.success-notify
        section.aside-titlearea
          h1 success
          div.aside-section-newbtn-push
            i.fas.fa-times
        div
          p successfully uploaded 2 images
  
  div#aside-team 
    section.aside-titlearea
      h1 members
      div.aside-section-newbtn-push#aside-add-member-btn(data-content-new='aside-member-new')
        i.fas.fa-plus.aside-section-newbtn
    ul#team-list
        
  div#aside-channels
    section.aside-titlearea
      h1 channels
      div.aside-section-newbtn-push#aside-add-channel-btn(data-content-new='aside-channel-new')
        i.fas.fa-plus.aside-section-newbtn
    ul#channels-list
