
section#footer-middle
  h4 - get in touch -
  h3 email@slackr.io
section.footer-section-share
  ul
    li.fs-share-title work for us
    li.fs-share-desc We're just getting started and talent is always needed here at slackr. We're in need of the following
    li ux designers
    li senior server-side dev
    li front-end developer
    li dev-ops lead 
    li data scientist 
section.footer-section-share
  ul
    li.fs-share-title slackr for teams
    li why use slackr ?
    li Pricing
    li Slack demo
    li need help ?
  ul 
    li.fs-share-title company
    li About us
    li Blog
    li version updates
    li Careers
    
