extends layout
 
block content
  
  div#workspace-channel
    h1 # lunch ideas
    section.wc-top-wrap-flow
      section.wc-members.wc-grid-top
        //- ul 
          li rename channel
          li mark  as closed
      section.wc-description.wc-grid-top
        p # this channel is open for discussion regarding lunch ideas
    
    section.wc-messages
          div
            h3 zach greyson
            p i'm thinking of #five-guys. Anyone up for it ?
          div
            h3 seth landert
            p sounds good. burgerhouse could be good. hear they do great chips.
          div
            h3 lauren goodhurd
            p Shouldn't you guys be working on the api security ? :) pizza is always a good choice. more important question is who's coming and what sorta time ?  
    section.wc-message-post
      form#channel-message-form(method="POST", action="/")
        .form-group 
        textarea(rows='4', cols='50', name='message', form='channel-msg') your message to the channel ...
        input#channel-submit-msg-btn.btn-primary(type="submit", value="post message")
