
extends layout

block content

  div#workspace-new-stack-popup

  div#my-workspaces
    section#workspaces-center
      section#workspaces-title-area
        h2 workspaces    
        if spaceIsLead
          span.workspace-btn add workspace
          
      if spaceIsLead  
        section.flex-each-workspace.workspace-new
          div.workspace-flex-main#workspace-new
            input#workspace-name.form-control(name='name', placeholder='name your workspace .', required)
            textarea#workspace-description.form-control(name='description', placeholder='tag your workspace with a description and purpose .', required)
            div#workspace-enter.workspace-btn create workspace
          
      if spaces.length == 0 
        section.flex-each-workspace#no-workspace
          div.workspace-flex-main
            h1 no workspaces 
            p create a new workpace and add team members.
        
      each space in spaces
        section.flex-each-workspace
          div.workspace-flex-main
            h1=space.name
            p=space.desc
          div.workspace-flex-following
            a.workspace-btn.join-workspace(href='/0/workspace/'+ space._id) join workspace
