
extends layout

block content
  div.stack-grid#stack-left-grid-name
    h3 pinterest clone
    a(href='/') view your workspace
  div.stack-grid#stack-left-grid-links
    ul
      li 
        a inspiration
      li 
        a plan your app
      li 
        a sketch / wireframe 
      
  div.stack-grid#stack-left-grid-content
