
extends layout
 

block content


  div#workspace-new-stack-popup
   
      include new-content/new-stack.pug 
  
  div.workspace-grid-box#workspaces-left-grid-name
    h2 #{ stacks.length } stack(s)
    h3#create-stack-btn create new stack
  
  div.workspace-grid-box#workspaces-left-grid-stacks 
    
    each stack in stacks
      - var str = stack.name.toUpperCase()
    
      div.stack(class='color-'+stack.color)
        div.stack-position
          a(href='/0/workspace/stack/'+stack._id).stack-inner-center
            h2=str.charAt(0)
            h3=stack.name

  div.workspace-grid-box#workspaces-left-grid-currentStack
 
